<h2>Welcome to pizza shop</h2>
<div class="row">
  <% @products.each do |p|%>
    <div class="col-md-3">
      <div><%= p.title%></div>
      <div><img height="100" src="<%= p.path_to_image%>" alt="<%= p.title%>" title="<%= p.title%>"></div>
      <div><%= p.description %></div>
      <div>Size: <%= p.size %></div>
      <div>Products: <%= p.price %></div>
      <div>
        <button class="btn btn-sm btn-success" onclick="addToCart(<%= p.id %>)">Add to cart</button>
      </div>
    </div>
  <%end%>
</div>
<br>
<br>
<button onclick="somthing()" class="btn btn-primary">Click me</button>
